
.VIpgJd-ZVi9od-ORHb-OEVmcd,
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-simple {
    display: none !important;
}
body {
    top: 0px !important; 
}
#google_translate_element {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}